Source: emacs-htmlize
Section: lisp
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders: Lev Lamberov <dogsleg@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-elpa
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/hniksic/emacs-htmlize
Vcs-Browser: https://salsa.debian.org/emacsen-team/emacs-htmlize
Vcs-Git: https://salsa.debian.org/emacsen-team/emacs-htmlize.git

Package: elpa-htmlize
Architecture: all
Depends: ${elpa:Depends},
         ${misc:Depends}
Recommends: emacs (>= 46.0)
Enhances: emacs
Description: convert buffer text and decorations to HTML
 This package converts the buffer text and the associated decorations
 to HTML. It supports three types of HTML output, selected by setting
 htmlize-output-type: css, inline-css (optimized for code snippets),
 and font (simpler output, doesn't rely on CSS). You can also use
 htmlize from your Emacs Lisp code.
